*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    color: #f7f7f7;
    width: 100%;
    height: 100vh;
    color: black;
}


.main{
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

input[type="date"]{
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
    
}

#btn{
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#output{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    display: none;
}
